<article class="mb-4">
  <div class="card">
    <div class="row g-0">
      <div class="col-md-4">
        <img
          [attr.src]="
            post.imageUrl
              ? 'http://localhost:8080' + post.imageUrl
              : 'https://placehold.co/600x400'
          "
          class="img-fluid h-100 rounded"
          [alt]="post.urlSlug"
        />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{ post.title }}</h5>
          <p class="card-text">
            <small class="text-muted"> Author: </small>
            <a
              [routerLink]="['/blog/author', post.author.urlSlug]"
              class="text-decoration-none"
            >
              <span class="text-primary">{{ post.author.fullName }}</span>
            </a>
            <small class="text-muted"> Category: </small>
            <a
              [routerLink]="['/blog/category', post.category.urlSlug]"
              class="text-decoration-none"
            >
              <span class="text-primary">{{ post.category.name }}</span>
            </a>
          </p>
          <p class="card-text">
            {{ post.shortDescription }}
          </p>
          <div>
            <app-tag-list [tags]="post.tags"></app-tag-list>
          </div>
          <div class="text-end">
            <button (click)="onClickReadDetail()" class="btn btn-primary">
              Read more
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>
