<article class="mb-4">
  <div class="card">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="https://placehold.co/600x400" class="card-img" alt="" />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Title</h5>
          <p class="card-text">
            <small class="text-muted"> Author: </small>
            <span class="text-primary">John Doe</span>
            <small class="text-muted"> Category: </small>
            <span class="text-primary">Technology</span>
          </p>
          <p class="card-text">
            Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint
            cillum sint consectetur cupidatat.
          </p>
          <div>
            <app-tag-list></app-tag-list>
          </div>
          <div class="text-end">
            <a href="#" class="btn btn-primary"> Read more </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>
